/* Modal Styles */


.close-modal {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.validation-message {
  color: red;
  font-size: 14px;
}

/* Additional styles for form inputs and buttons */
